page-listcoupon {
    table tr td,
    table tr th {
        //border: 1px solid #dddddd;
        font-weight: 400;
        padding: 0 5px;
        line-height: 30px;
    }
    table tr th {
        color: #222222;
        background: #eeeeee;
    }
}